* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(39, 39, 39);
  color: rgb(179, 179, 179);
  height: 100vh;
  /* I like dark mode */
}
a {
  color: rgb(82, 97, 255);
  font-size: 1.25rem;
  font-weight: bold;
}

ul {
  list-style: disc;
  padding: 0;
  margin: 0;
}

li {
  margin: 1rem;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100vh;
  padding: 5rem;
  font-family: Arial, sans-serif;
}

