* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #181a1b;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  padding: 20px;
}

h1,p{
  color: #e8e6e3;
}

.projects {
  flex: 1;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

li {
  list-style: none;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #2d3032;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 100px;
  gap: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

li a {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: #2d7fda;
}
