* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template: 1fr 5fr / 1fr 3fr 1fr;
  height: 100vh;
}

header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column: 2/4;
  background-color: pink;
}

.h-top,
.h-bottom {
  grid-column: 1/6;
  display: grid;
  grid-template-columns: 3fr 2fr repeat(3, 1fr);
}

.searchInput {
  grid-column: 1/3;
  background-color: green;
  display: flex;
  align-items: center;
}

.searchInput input{
width: 70%;
}

.Lsidebar {
  background-color: lightblue;
  grid-row: 1/3;
  display: flex;
  gap: 3rem;
  flex-direction: column;
  align-items: center;
}

.tabs {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.tabs ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

.Rsidebar {
  background-color: rgb(100, 198, 193);
}

main{
    display: flex;
    flex-direction: column;
}

.cards {
  background-color: rgb(189, 249, 189);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 8px;
  padding: 8px; 
  flex: 1;
}

.card{
    background-color: rgb(253, 58, 58);
    
}
